<p id="notice"><%= notice %></p>
  <div id=books class= "transitions-enabled">
     <% @books.each do |book| %>
       <div class = box>
        <div class="panel panel-default">
       <div class="panel-body">
        <strong><%= book.title%></br></strong>
         <%= book.description %></br>
        <div class="panel-footer">
        <%= link_to 'Edit', edit_book_path(book) %> 
        <%= link_to 'Back', books_path %>
      
        </div>
       <div>
     </div>
    <%end%>
  </div>
</div>