<div class="panel panel-default">
  <div class="panel-heading"><h2>Add a Book to the Repository</h2></div>
   <div class="panel-body">
     <%= form_for Book.new do |f| %>
            <div class= "form group">
                 <%= f.label :title %> </br>
                 <%= f.text_field :title , autofocus: true, class: "form control" %></br>
                 <%= f.label :description %> </br>
                 <%= f.text_area:description ,autofocus: true, class: "form control"%>
                 <%= f.submit "Create"%>
            </div>
      <%end%>
     </div>   
   </div>
 </div>
 